body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.8vw;
    font-weight: 700;
    color: #444;

    width: 75vw;
    margin-left: 10vw;
    margin-top: 5vh;
}
img.profile {
    max-width: 100%;
    border-radius: 50%;
}
h1, h2 {font-family: "Playfair Display", serif;}
h1 {
    font-weight: 700;
    font-size: 6vw;
    display: inline-block;
    margin: 0;
    color: #222;
    background: linear-gradient(0deg, #FAF4AF 50%, transparent 50%);
}
main {
  position: relative;
}
h1:before {
}
h2 {
    font-weight: 400;
    font-size: 4vw;
}

/* Links */
a {
    background: linear-gradient(0deg, #CDF5F9 40%, transparent 40%);
    text-decoration: none;
    transition: color .3s;
    -webkit-transition: color .3s;
}
a, a:visited, a:active {
    color: inherit;
}
a:hover {
    color: rgba(0,0,0,0.5);
}

/* Timeline and home emoji list */
ul.emoji-list {
    list-style-type: none;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
}
li {
    position: relative;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1.15em;
}
li.justify {
    text-align: justify;
}
li.space-below {
    margin-bottom: 1em;
}
li:before {
    /* Vertical line for timeline */
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    background: rgba(0,0,0,1);
}
li:after {
    /* Empty circle */
    content: "";
    position: absolute;

    height: 1.8em;
    width: 1.8em;
    /* Prevent vertical offset by minimizing line-height */
    line-height: 0.1em;
    /* Position content vertically: Half diameter */
    padding-top: calc(1.8em/2);
    /* Position content horizontally */
    text-align: center;
    /* Align with li text: Top padding + half of li line-height - half diameter */
    top: calc(0.5em + 1.15em/2 - 1.8em/2);
    /* Ensure measurement includes border */
    box-shadow: inset 0 0 0 1px black;
    box-sizing: border-box;
    border-radius: 50%;

    background: white;
}
li.no-line-item:before {
    height: 0;
    width: 0;
}
li.no-emoji-item:after {
    height: 0;
    width: 0;
    border: 0;
    padding: 0;
}

@media only screen and (max-width: 800px) {
    body {font-size: 20px;}
    h1 {font-size: 40px;}
    h2 {font-size: 32px;}
}

@media only screen and (min-width: 1080px) {
    body {font-size: 22px;}
    h1 {font-size: 64px;}
    h2 {font-size: 52px;}
}
