header {
    width: 10vw;
}
img.profile {
    position: absolute;
    width: 10vw;
}
main {
    width: 63vw;
    /* Width of main = 63+2 */
    padding-left: 2vw;
    /* Width of header */
    margin-left: 10vw;
}
h2 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1em;
    margin-bottom: 0.5em;
}



/* Timeline */
li {
    transition: opacity .2s, max-height .2s, padding .2s;
    -webkit-transition: opacity .2s, max-height .2s, padding .2s;
}
li:before {
    /* half line width + distance between header and main + half header width */
    left: calc(-1px/2 + -2vw + -10vw/2);
}
li:after {
    /* half line width + distance between header and main + half header width */
    left: calc(-1.8em/2 + -2vw + -10vw/2);
}
li.milestone:after, label.milestone:after {content: "👏";}
li.project:after, label.project:after {content: "🛠";}
li.fun:after, label.fun:after {content: "🎉";}

/* Fade line at beginning and end */
li:first-of-type:before {background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));}
li:last-of-type:before {background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));}
li:first-of-type:after, li:last-of-type:after {
    height: 0;
    width: 0;
    border: 0;
}



/* "Show _" toggles for the timeline entries */
section#toggle {
    display: flex;
    flex-direction: row;
}
section#toggle input {
    display: none;
}
section#toggle::selection, section#toggle label::selection {
    color: none;
    background: none;
}
section#toggle section {
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
section#toggle label {
    display: inline-flex;
    align-items: center;
}
section#toggle input + label:before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;

    background: white;
    transition: .3s;
    -webkit-transition: .3s;
}
section#toggle input:checked + label:before {
    background: black;
    transition: .3s;
    -webkit-transition: .3s;
}
section#toggle input + label:after {
    margin-left: 5px;
}



/* Small screens */
@media only screen and (max-width: 800px) {
    body {
        width: 85vw;
        margin-left: 10vw;
        margin-top: 5vh;
        flex-direction: column;
    }
    section#toggle {
        flex-direction: column;
        padding-top: 10px;
    }
    section#toggle section {
        padding-right: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
