<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
    <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="preload" as="font" href="/static/files/og-dcm-emoji.ttf"/>
    <link rel="preload" as="fetch" href="/static/files/shader.frag"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H70DRKX1K6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-H70DRKX1K6');
    </script>
    {% if path == "home" %}
    <script>
      window.addEventListener('load', function() {
        const canvas = document.getElementById('shader');
        const ratio = window.devicePixelRatio || 1;
        canvas.width = window.innerWidth * ratio;
        canvas.height = window.innerHeight * ratio;
      });
    </script>
    {% endif %}
  </head>
  <body class="bg1-background">
    {{ content | safe }}
  </body>
</html>
