---
layout: layouts/home.njk
---

{% set postslist = collections.posts | head(-10) %}
{% include "postslist-short.njk" %}

<p>More posts can be found in <a href="{{ '/blog/' | url }}">the archive</a>.</p>
