---
layout: layouts/home.njk
---

<p>Hi, I'm Matthew, builder of computer/audiovisual things.</p>

<p><a href="{{ '/projects/' | url }}">What I've been working on.</a></p>

<p>What I've been thinking about (more in <a href="{{ '/blog/' | url }}">the archive</a>):</p>
{% set postslist = collections.posts | head(-3) %}
{% include "postlist.njk" %}
