.hero{
  height:200px;
  background:#FFF;
  color:#FFF;
  position:relative;
  z-index:0
}
.hero .duotone_hero-image{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:-1;
  background:url(./images/me.png) top right -36.25vh no-repeat,top right -36.25vh #FFF;
  background-size:auto 100%
}
@media screen and (min-width:375px){
  .hero .duotone_hero-image{
    background:url(./images/me.png) top right -31vh no-repeat,top right -31vh #FFF;
    background-size:auto 100%
  }
}
@media only screen and (min-width:768px){
  .hero .duotone_hero-image{
    background-size:auto 98%;
    background-position:bottom right -5vh
  }
}
@media only screen and (min-width:940px)
{
  .hero .duotone_hero-image{
    background-size:auto 110%;
    background-position:top 50px left 50vw
  }
}
/*.hero .duotone_hero-image .darken-tint{
  fill:#2612A6;mix-blend-mode:lighten
}*/

/* THIS LINE MAKES THE IMAGE APPEAR */
.hero .duotone_hero-image .gradient-tint{
/*  mix-blend-mode:multiply*/
  mix-blend-mode: unset;
}