body {
  font-size: 16px;
}

body, nav, header, section, ul, a {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Droid Serif", serif;
  color: #666666;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "Assistant", sans-serif;
  margin: 0;
}

/* h1: Top heading, h2: Top blurb, h3: Section headings */
h1 {
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 3rem;
  font-weight: 300;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* Constrained-width, centered elements */
div.row, section.centered {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
}
section.fullwidth {
  width: 100%;
}

a {
  cursor: pointer;
}
a.button {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
a.button.button-body {
  font-size: 1.5rem;
}
a.button.button-body-small {
  text-transform: initial;
  margin: 0.5rem;
  padding: 0;
}



nav {
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  z-index: 3;
  /*display: flex;*/
}
nav div.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}






header {
  position: relative;
  padding-top: 8rem;
  height: 100vh;
  min-height: 40rem;
  max-height: 60rem;
  box-sizing: border-box;
  z-index: 2;
}
header svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

header img.self-portrait {
  height: 80%;
  position: absolute;
  bottom: 0;
  left: 60%;
}

header div.header-content {
  width: 50%;
  margin-left: 0;
  z-index: 1;
}





ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.projects {
  background-color: #cccccc;
}

.projects ul li {
  position: relative;
  box-sizing: border-box;
  padding: 1rem;
  height: 13rem;
  max-width: 33.3333%;
  min-width: 22rem;
}

.projects ul li > div { /* For hiding overflow into padding */
  height: 100%;
  overflow: hidden;
}

.projects ul li img {
  width: 100%;
}

.projects ul li div.title {
  position: absolute;
  padding: 1rem;
  left: 1rem;
  top: 1rem;
}
.projects ul li div.description {
  position: absolute;
  text-align: right;
  padding: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

.contact ul {
  margin: 0 auto;
  max-width: 30rem;
}
.contact ul li {
  height: 6rem;
  width: 33.3333%;
  text-align: center;
}
.contact ul li i {
  font-size: 2rem;
}



