body, nav, header, section, ul {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Droid Serif", serif;
  color: #666666;
}
nav {
  width: 100%;
}

body * {
  /*border: 1px solid black;*/
}

h1, h2 {
  font-family: "Assistant", sans-serif;
}

h1 {
  font-weight: 700;
}
h2 {
  font-weight: 400;
}

nav, header {
  padding: 0 5rem;
}

nav {
  position: fixed;
  top: 0;
  height: 5rem;
  background-color: rgba(128,128,128,0.5);
  z-index: 3;
}

header {
  position: relative;
  padding-top: 8rem;
  height: 100vh;
  min-height: 40rem;
  z-index: 2;
}

header div.header-bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

header div.header-bg img {
  height: 100%;
  opacity: 0.5;
}

header div.header-content {
  width: 50%;
  z-index: 1;
}



ul.projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul.projects-list li {
  height: 200px;
}

ul.projects-list li div.project-wrapper {
  position: relative;
  overflow: hidden;
}

ul.projects-list li div.project-wrapper img {
  width: 100%;
}

ul.projects-list li div.project-wrapper div.title {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
ul.projects-list li div.project-wrapper div.description {
  position: absolute;
  bottom: 0;
  left: 0;
}

.col-4 {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  flex-basis: 33.3333%;
  max-width: 33.3333%;
}

main {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 5rem;
}