/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
  font-family: "Open Sans", "Arial," sans-serif;
}

h1,h2,h3 {
  font-family: "Montserrat", "Arial", sans-serif;
  color: #0097a7;
}

#title {
  height: 600px;
  background-image: url("images/splash.jpg");
  background-size: cover;
}
.splash {
  color: white;
}
.splash div {
  height: 180px;
}
.splash img {
  position: absolute;
  left: 0;
  height: 100%;
}
.splash-img {
  position: relative;
}
.info {
  background-color: rgba(0,0,0,0.5);
  font-size: 16pt;
}
strong {
  font-weight: bold;
}

.experience, .other-projects {
  background-color: #b0bec5;
}
.skills, .projects {
  background-color: #cfd8dc;
}
.experience hr,
.projects hr,
.other-projects hr {
  border-color: #455a64;
  opacity: 0.3;
}

.contact {
  background-color: #455a64;
  color: rgba(255,255,255,0.6);
}
.contact h2 {
  color: white;
}
.contact hr {
  border-color: rgba(255,255,255,0.4);
}
.highlight-button-wrapper {
  margin: 40px;
}
.highlight-button {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  border: 3px solid white;
  color: white;
  padding: 20px 30px;
}

.experience-entry img {
  width: 100%;
}
.experience-entry div {
  height: 100%;
}


.row {
  position: relative;
}
.no-margin {
  margin: 0;
}
hr {
  border: none;
  border-top: 1px solid #0097a7;
  opacity: 0.3;
  width: 61.8%;
}
/* If any projects need an extra line, attach the proper class to
   the div of other one in the row */
.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.project-entry .img-wrapper {
  height: 250px;
  overflow: hidden;
  position: relative;
}
.project-entry-secondary .img-wrapper {
  height: 200px;
  overflow: hidden;
  position: relative;
}
.project-entry img,
.project-entry-secondary img {
  width: 100%;
}
.project-entry .description,
.project-entry-secondary .description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  color: white;
  display: none;
}
.project-entry .description p,
.project-entry-secondary .description p {
  margin: 10px;
}
a {
  color: inherit;
}