---
title: Blog
description: Blog post archive
layout: default
eleventyExcludeFromCollections: true
---

<div class="container max-w-3xl px-6">
    <h1 class="font-bold text-5xl lg:text-7xl">{{title}}</h1>
    <section class="mt-8">
        {% set postslist = collections.post %}

        {% for post in postslist | reverse %}
            <article class="my-8">
                <h2 class="font-bold text-3xl text-gray-900 mb-2">
                    <a href="{{ post.url | url }}">
                        {% if post.data.title %}
                            {{ post.data.title }}
                        {% else %}
                            Untitled
                        {% endif %}
                    </a>
                </h2>
                <p class="text-base leading-6 text-gray-500 mb-3">
                    <time>
                        {{ post.date | iso8601Date }}
                    </time>
                    {% if post.data.description %}
                        <span> • {{ post.data.description }}</span>
                    {% endif %}
                </p>

                <p>
                    <a href="{{ post.url | url }}" class="text-blue-600 font-bold text-lg">
                        Read more →
                    </a>
                </p>

            </article>
        {% endfor %}
    </section>
</div>
