<ul class="reset-list">
{% for post in postslist | reverse %}
  <li class="spaced-sm">
    <time datetime="{{ post.date | htmlDateString }}" class="deemphasized">
      {{ post.date | readableDate }}
    </time>
    <a href="{{ post.url | url }}" class="bold">
      {% if post.data.title %}{{ post.data.title }}
      {% else %}<code>{{ post.url }}</code>{% endif %}
    </a>
  </li>
{% endfor %}
</ul>
