<ul class="postlist">
{% for post in postslist | reverse %}
  <li>
    <span class="postlist-content">
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    </span>
  </li>
{% endfor %}
</ul>
