html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  --bg1: #3c3836;
  --bg2: #504945;
  --fg4: #928374;
  --fg2: #d5c4a1;
  --fg0: #fbf1c7;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  display: block; /* prevents scrollbar */
  width: 100vw;
  height: 100vh;
  z-index: -1000;
}

.bg1-background {
  background-color: var(--bg1);
}
.bg2 {
  color: var(--bg2);
}
.fg4 {
  color: var(--fg4);
}
.fg2 {
  color: var(--fg2);
}
.fg0 {
  color: var(--fg0);
}

section.overlay {
  position: relative; /* Make this the reference for absolute positioning */
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
section.projects {
  max-width: 60em;
}

@font-face {
  font-family: docomo;
  src: url("../files/og-dcm-emoji.ttf");
}
.text {
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.docomo {
  font-family: docomo;
  line-height: 1.5;
  vertical-align: -0.15em;
}
.headline {
  font-weight: 900;
  font-size: 8vw;
}
.subtitle {
  font-weight: 600;
  font-size: 3vw;
}
.title {
  font-weight: 600;
  font-size: 2rem;
}
.prose {
  font-weight: 400;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration-color: var(--fg4);
}
a:visited {
  color: inherit;
}

.text-right {
  text-align: right;
}

li::marker {
  content: "> ";
  color: var(--fg4);
}
ul {
  margin-left: 1.2rem;
  padding-left: 0;
}

.row {
  display: flex;
  flex-direction: row;
}
.grow {
  flex-grow: 1;
}
.shrink-0 {
  flex-shrink: 0;
}
.w-24 {
  width: 6rem;
}
.pt-0 {
  padding-top: 0.5rem;
}
.pl-1 {
  padding-left: 1.2rem; /* one character seems to be 3:5 (1rem high by 0.6rem wide) in this monospace font */
}
.px-1 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
