---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="mt-3 mb-3">
  <h1 class="text-center">{{ title }}</h1>

  <p class="text-center gray-5">
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time> •
    {{ content | readingTime }} read
  </p>
</div>

{{ content | safe }}

<div class="mt-1 mb-1">
</div>
