---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="py-5">
  <div class="pb-5">
    <time class="text-muted" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
    <h1 class="fw-bold">{{ title }}</h1>
  </div>

  {{ content | safe }}
</div>
