---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="mt-4 mb-4">
  <h1 class="text-center fw-bold">{{ title }}</h1>

  <p class="text-center text-muted">
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time> •
    {{ content | readingTime }} read
  </p>
</div>

{{ content | safe }}

<div class="mt-1 mb-1">
</div>
