---
layout: default
title: Projects
---

<section class="mt-15">

<p>Here's a selection of stuff I've contributed to that also lives on the internet, tagged and sorted by the time I started:</p>

<ul>
{% for name, data in projects.projects %}
  <li>
    <time datetime="{{ data.time | iso8601Date }}">
      {{ data.time }}
    </time>
    <span>

      {% if data.url %}<a href="{{ data.url | url }}">{{ name }}</a>
      {% else %}<span>{{ name }}</span>
      {% endif %}

      <div>{{ data.description }}</div>

      {% if data.urls %}
      <ul>
      {% for subheading, subUrl in data.urls %}
        <li><a href="{{ subUrl | url }}">{{ subheading }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}

    </span>
  </li>
{% endfor %}
</ul>

</section>
