---
title: Projects
description: All projects I've contributed to that live on the internet
layout: default
date: 2024-10-24
---

<section class="max-width-60 px-1 py-1">
  <p class="text heading-1 fg0">Projects <span class="docomo">😃</span></p>
  <article class="text prose fg2">
    <p class="py-1">I like people, art, and technology. <a href="https://npme9g67d94.typeform.com/to/zFb7ommX">Let's chat!</a></p>
    {% for name, data in projects.projects %}
    <div class="row pt-0">
      <div class="text-right w-24 shrink-0">
        <time class="fg4">
          {{ data.time }}
        </time>
      </div>
      <div class="pl-1 grow">
        {% if data.url %}<a href="{{ data.url | url }}">{{ name }}</a>
        {% else %}<span>{{ name }}</span>
        {% endif %}

        {% if data.tags %}
        <span class="fg4">
        {% for tag in data.tags %}
        [{{ tag }}] 
        {% endfor %}
        </span>
        {% endif %}

        {% if data.urls %}
        <ul class="pt-0">
        {% for subheading, subUrl in data.urls %}
          <li><a href="{{ subUrl | url }}">{{ subheading }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </article>
</section>
